* {
  font-family: "Cascadia Code", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
  margin: auto;
}
body .searchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
body .searchContainer .card {
  display: flex;
  gap: 1rem;
  padding: 0.25rem;
  width: 31%;
  border: 1px solid green;
  border-radius: 1rem;
}
body .searchContainer .card img {
  width: 50%;
  border-radius: 1rem;
}
body .searchContainer .card .card-body {
  display: flex;
  flex-direction: column;
}
body .searchContainer .card .card-body h5 {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 0.5rem;
}
body .searchContainer .card .card-body p {
  font-weight: 600;
  font-size: 16px;
}
body .searchContainer .card .card-body button {
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 0.75rem auto;
}